/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.DS_Store
/.vscode/
/.vs/
/bin/*
/obj/*
/wwwroot/photos/
run.sh
launchSettings.json
obj/Debug/netcoreapp2.1/NetCoreApi.csprojResolveAssemblyReference.cache
.vs/NetCoreApi/xs/UserPrefs.xml
.vs/NetCoreApi/xs/sqlite3/storage.ide-shm
.vs/NetCoreApi/xs/sqlite3/storage.ide-wal
obj/NetCoreApi.csproj.nuget.cache
obj/NetCoreApi.csproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp2.1/NetCoreApi.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/NetCoreApi.csprojAssemblyReference.cache
