<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Helloworld</p>
<form action="/login" method="post" onsubmit="login()">
    Username: <input  id = "username" type="text" >
    Password: <input id = "password" type="text" >
    <button onclick="login()">Login</button>
    <input type="submit">

    <div id = "target" ></div>

</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    var token = "" ;
    function login() {

        let id = $("#username").val();
        let pw = $("#password").val();
        let json = {'username':id, 'password':pw};

        $.ajax('/login',{
            'data': JSON.stringify(json), //{action:'x',params:['a','b','c']}
            'type': 'POST',
            'processData': false,
            'contentType': 'application/json' ,
            success: function(data, textStatus, request){
                token = request.getResponseHeader('authorization');
            },
            error: function (request, textStatus, errorThrown) {
                alert("登录出错");
                $("#tartge").after(request);
            }
        });


        var settings = {
            "async": false,
            "crossDomain": true,
            "url": "http://localhost:8080/swagger-ui.html",
            "method": "GET",
            "headers": {
                "Authorization": token,
                "Cache-Control": "no-cache"
            }

        };
        $.ajax(settings).done(function (response) {
            $("#target").after(response);
        });


    }
</script>
</body>
</html>